.qna{
    position: relative;
    display: none;
    width: 95vw;
    height: 95vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.question{
    display: none;
    width: 300px;
    height: 50px;
    padding: 25px;
    background-color:darkcyan;
    text-align: center;
    text-decoration: none;
}

.answer{
    position: absolute;
    bottom: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answer_button{
    width: 250px;
    height: 70px;
    margin-top: 25px;
    background-color:rgb(235, 215, 165);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

.answer_button:hover,
.answer_button:focus,
.answer_button:active{
    background: rgb(64, 144, 219);
    outline: 0;
}

.status{
    position: absolute;
    top: 10px;
    height: 25px;
    width: 50%;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    background-color: tomato;
    border-radius: 20px;
}

.statusNum{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 60px;
    text-align: center;
    background-color: black;
    border: 10px solid black;
    border-radius: 10px;
    color: white;

    width: 130px;
    height: 70px;
    font-size: 50px;
}