.qna{
    position: relative;
    display: none;
    width: 105vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url('https://raw.githubusercontent.com/mindongdong/PuangMBTI/82846a2fc0f414591b8b2ec565c50527a699344f/img/Q.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.question{
    color:black;
    position: absolute;
    top: 30vh;
    width: 50vw;
    height: 30vw;
    text-align: center;
    text-decoration: none;

    font-family: 'LeeSeoyun';
    font-size: 20px;

    line-height: 25px;
}

.answer{
    position: absolute;
    bottom: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.answer_button{
    width: 280px;
    height: 80px;
    margin-bottom: 25px;
    padding: 5px;
    background-color:rgb(240, 234, 197);
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 30px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;

    font-family: 'LeeSeoyun';
    font-size: 15px;
}

.answer_button:hover,
.answer_button:focus,
.answer_button:active{
    background: rgb(211, 160, 101);
    outline: 0;
}

.status{
    position: absolute;
    top: 40px;
    height: 25px;
    width: 50%;
    background-color: white;
    margin: 20px;
    border-radius: 20px;
}

.statusBar{
    height: 100%;
    background-color: tomato;
    border-radius: 20px;
}

.statusNum{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 110px;
    right: 186px;
    text-align: center;
    border-radius: 10px;
    color: white;

    width: 130px;
    height: 70px;
    font-size: 30px;
    font-family: 'LeeSeoyun';
    font-weight:bolder;
}