.result{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    /* margin: 10%; */
}

.result-nameBox{
    display: none;
    margin-bottom: 50px;
}

.result-imgBox__img{
    width: 100vw;
    height: 100vh;
}

.result-descBox{
    display: none;
}

.result-descBox__desc1,
.result-descBox__desc2{
    /* margin-bottom: 30px; */
}

.result-shareButton{
    position: absolute;
    bottom: 13.5vh;
    border: none;
    width: 25vw;
    height: 4.5vh;
    color: white;
    background-color: rgb(204, 156, 108);
    border-radius: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    font-family: 'LeeSeoyun';
    font-size: 2.5vh;
    transition: 0.5s;
}